@font-face {
    font-family: "Ginto Nord Regular";
    src: url("./Ginto\ Nord\ Regular.ttf");
}

* {
    -webkit-user-select: none;
}

html {
    height: 100% !important;
	Width: 100% !important;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100% !important;
	Width: 100% !important;
    background-color: transparent;
}

.splash-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 348px !important;
	Width: 500px !important;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
    -webkit-app-region: drag;
    overflow: hidden;
}

.splash-center img {
    position: absolute;
    width: 700px;
    height: auto;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.splash-center span {
    position: absolute;
    color: white;
    font-size: 23px;
    font-family: 'Ginto Nord Regular';
    bottom: 30px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
}
